<div class="container mx-auto px-5 py-2 pb-5 pt-2 user-module">
<div class="container user-module">
  <app-page-header title="User Management" homeLabel="Home" homeRoute="/admin/dashboard" currentLabel="Reset Password"></app-page-header>

  <app-page-title title="Reset User Password" subtitle="Reset the selected user's password and force a password change on next sign in">
    <button class="btn btn-outline-primary" type="button" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
    <button class="btn btn-primary" type="button" [disabled]="saving" (click)="save()"><i class="fa" [ngClass]="saving ? 'fa-spinner fa-spin' : 'fa-save'"></i> Reset Password</button>
  </app-page-title>

  <div *ngIf="!loading && user as data" class="form-card">
    <div class="card-heading">
      <div class="entity-inline-profile">
        <img *ngIf="data.profileImageName; else resetUserAvatarFallback" class="entity-avatar-lg" [src]="getProfileImageUrl(data.profileImageName)" [alt]="data.fullName">
        <ng-template #resetUserAvatarFallback>
          <span class="entity-avatar-lg entity-avatar-fallback"><i class="fa fa-user"></i></span>
        </ng-template>
        <div>
          <h4>{{ data.username }} / {{ data.fullName }}</h4>
          <p>Password is stored as a hash and the user will be flagged for next-login password change.</p>
        </div>
      </div>
    </div>
    <form [formGroup]="form">
      <div class="form-grid">
        <div>
          <label class="form-label">New Password</label>
          <input type="password" class="form-control" formControlName="newPassword" placeholder="minimum 6 characters">
        </div>
        <div>
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword" placeholder="repeat password">
        </div>
      </div>
    </form>
  </div>
</div>
</div>
